
html{
  overflow-x: hidden;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.app {
  position: relative;
}

main {
  margin: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
.dark-mode .main-container{
  background-color: #444;
  color: #ffffff;
}

/* Adjust based on menu visibility */
.sidebar.visible + .main-container {
  margin-left: 200px; /* Adjust as needed */
}
.main-container{
  max-width: 100vw;
}

@media (min-width: 769px) {
  main {
    margin-left: 250px; /* Adjust based on sidebar width */
  }
}
